.gva-gallery-outerdiv .gva-gallery-card-image {
    float: left !important;
    margin: 5px !important;
    width: 80% !important
}

.gva-gallery-buttons-div {
    background: #f7f7f7 !important;
    color: #000 !important;
    cursor: pointer !important;
    margin-top: 10px !important;
    padding: 5px !important;
    text-align: center !important
}

#salemove .gva-gallery-buttons-div a {
    cursor: pointer
}

.gva-gallery-outerdiv .gva-gallery-arrows-right:before {
    bottom: 0;
    content: "\203A";
    outline: none
}

.gva-gallery-outerdiv .gva-gallery-arrows-left:after,
.gva-gallery-outerdiv .gva-gallery-arrows-right:before {
    border: 1px #a6aaab;
    border-radius: 10px;
    color: #090909;
    cursor: pointer;
    font-size: 30px;
    height: 44px;
    line-height: 44px;
    margin-top: 40%;
    opacity: .9;
    text-align: center;
    text-shadow: 0 2px 2px #0009;
    width: 10%;
    z-index: 10
}

.gva-gallery-outerdiv .gva-gallery-arrows-left:after {
    content: "\2039"
}

.gva-gallery-outerdiv.no-image {
    margin-left: 36px !important;
    width: 100% !important
}

.gva-gallery-outerdiv {
    position: relative !important;
    width: 100% !important
}

.gva-custom-message-box .response-card-outerdiv.no-image {
    margin-left: 36px !important
}

.gva-custom-message-box .response-card-outerdiv {
    width: 85% !important
}

.gva-common-text-format {
    word-wrap: break-word !important;
    white-space: pre-line !important
}

.gva-question-box {
    background: #fff !important;
    border-radius: 17px !important;
    box-sizing: border-box !important;
    color: #353535 !important;
    display: inline-block !important;
    font-family: var(--main-font-family);
    margin: 0 0 5px !important;
    padding: 0 5px !important;
    position: relative !important;
    text-align: left !important
}

.gva-modal-button-view {
    background: var(--theme-color) !important
}

#salemove .gva-modal-button-view a {
    color: #fff !important;
    cursor: pointer !important;
    font-family: var(--main-font-family) !important
}

.gva-quick-reply-button {
    background-color: #efefef !important;
    border-radius: 4px !important;
    color: #353535 !important
}

.gva-quick-reply-button,
.gva-regular-button {
    cursor: pointer !important;
    font-family: var(--main-font-family)
}

.gva-regular-button {
    background: var(--theme-color) !important;
    color: #fff !important
}

.gva-custom-message-box {
    align-items: flex-end !important;
    display: flex !important
}

.gva-chat-text-container {
    display: block !important
}

.gva-custom-chat-text {
    background: var(--theme-color) !important;
    border-radius: 17px !important;
    box-sizing: border-box !important;
    color: #fff !important;
    display: inline-block !important;
    font-family: var(--main-font-family);
    margin-bottom: 5px !important;
    padding: 10px 17px !important;
    position: relative !important;
    text-align: left !important
}

.gva-custom-chat-box {
    flex-grow: 1 !important
}

.gva-custom-chat-box.no-image {
    flex-grow: 1 !important;
    margin-left: 36px !important
}

.gva-custom-chat-text:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid var(--theme-color);
    bottom: -3px;
    content: "";
    height: 0;
    left: -4px;
    position: absolute;
    right: auto;
    transform: rotate(55deg);
    width: 0
}

.gva-gallery-outerdiv .gva-gallery-arrows-right-title:before {
    content: "\203A";
    margin-right: .5%;
    outline: none;
    right: 13px
}

.gva-gallery-outerdiv .gva-gallery-arrows-left-title:after,
.gva-gallery-outerdiv .gva-gallery-arrows-right-title:before {
    border: 1px #a6aaab;
    border-radius: 10px;
    color: #090909;
    cursor: pointer;
    font-size: 30px;
    height: 44px;
    line-height: 44px;
    opacity: .9;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px 2px #0009;
    width: 0;
    z-index: 10
}

.gva-gallery-outerdiv .gva-gallery-arrows-left-title:after {
    content: "\2039";
    left: 13px;
    margin-left: -6.5%
}

.gva-custom-message-box .sm-choice-card-title {
    font-weight: bolder !important;
    margin-left: 3% !important;
    text-align: left !important
}

.gva-custom-message-box .sm-choice-card-subtitle {
    margin-left: 3% !important;
    overflow: hidden !important
}

.cms-link {
    color: var(--theme-color) !important;
    cursor: default !important;
    text-decoration: none !important
}

.cms-link:hover {
    color: gray !important;
    cursor: pointer !important
}

.cms-user-goal {
    color: #353535 !important;
    font-family: var(--main-font-family) !important;
    text-align: left !important
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    25% {
        opacity: .5;
        visibility: visible
    }

    to {
        opacity: 1;
        visibility: visible
    }
}

.gva-carousel {
    position: relative
}

.gva-carousel.pointer-event {
    touch-action: pan-y
}

.gva-carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%
}

.gva-carousel-inner:after {
    clear: both;
    content: "";
    display: block
}

.gva-carousel-item {
    animation: fade-in .5s !important;
    animation-fill-mode: forwards !important;
    backface-visibility: hidden;
    display: none;
    float: left;
    margin-right: -100%;
    position: relative;
    transition: transform .6s ease-in-out;
    visibility: hidden !important;
    width: 100%
}

@media (prefers-reduced-motion:reduce) {
    .gva-carousel-item {
        transition: none
    }
}

.gva-carousel-item-next,
.gva-carousel-item-prev,
.gva-carousel-item.active {
    display: block
}

.gva-carousel-item-end.active,
.gva-carousel-item-next:not(.gva-carousel-item-start) {
    transform: translateX(100%)
}

.gva-carousel-item-prev:not(.gva-carousel-item-end),
.gva-carousel-item-start.active {
    transform: translateX(-100%)
}

.gva-carousel.carousel-fade .gva-carousel-item {
    opacity: 0;
    transform: none;
    transition-property: opacity
}

.gva-carousel.carousel-fade .gva-carousel-item-next.gva-carousel-item-start,
.gva-carousel.carousel-fade .gva-carousel-item-prev.gva-carousel-item-end,
.gva-carousel.carousel-fade .gva-carousel-item.active {
    opacity: 1;
    z-index: 1
}

.gva-carousel.carousel-fade .active.gva-carousel-item-end,
.gva-carousel.carousel-fade .active.gva-carousel-item-start {
    opacity: 0;
    transition: opacity 0s .6s;
    z-index: 0
}

@media (prefers-reduced-motion:reduce) {

    .gva-carousel.carousel-fade .active.gva-carousel-item-end,
    .gva-carousel.carousel-fade .active.gva-carousel-item-start {
        transition: none
    }
}

.gva-carousel .carousel-control-next,
.gva-carousel .carousel-control-prev {
    align-items: center;
    background: 0 0;
    border: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    opacity: .5;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .15s ease;
    width: 15%;
    z-index: 1
}

@media (prefers-reduced-motion:reduce) {

    .carousel-control-next,
    .carousel-control-prev {
        transition: none
    }
}

.gva-carousel .carousel-control-prev {
    left: 0
}

.gva-carousel .carousel-control-next {
    right: 0
}

.gva-carousel .carousel-control-next:focus,
.gva-carousel .carousel-control-next:hover,
.gva-carousel .carousel-control-prev:focus,
.gva-carousel .carousel-control-prev:hover {
    color: #fff;
    opacity: .9;
    outline: 0;
    text-decoration: none
}

.gva-carousel .carousel-control-next-icon,
.gva-carousel .carousel-control-prev-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 2rem;
    width: 2rem
}




.gva-carousel .carousel-indicators {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 2
}

.gva-carousel .carousel-indicators [data-bs-target] {
    background-clip: padding-box;
    background-color: #fff;
    border: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    flex: 0 1 auto;
    height: 3px;
    margin-left: 3px;
    margin-right: 3px;
    opacity: .5;
    padding: 0;
    text-indent: -999px;
    transition: opacity .6s ease;
    width: 30px
}

@media (prefers-reduced-motion:reduce) {
    .gva-carousel .carousel-indicators [data-bs-target] {
        transition: none
    }
}

.gva-carousel .carousel-indicators .active {
    opacity: 1
}

.gva-carousel .carousel-caption {
    bottom: 1.25rem;
    color: #fff;
    left: 15%;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: absolute;
    right: 15%;
    text-align: center
}

.gva-carousel.carousel-dark .carousel-control-next-icon,
.gva-carousel.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.gva-carousel.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000
}

.gva-carousel.carousel-dark .carousel-caption {
    color: #000
}

body.sm-mobile #salemove.gva-type-ea .sm-chat-component .gva-custom-chat-box,
body.sm-mobile #salemove.gva-type-ea .sm-chat-component .persistentButtons,
body.sm-mobile #salemove.gva-type-ea .sm-chat-component .quickReplies,
body.sm-mobile #salemove.gva-type-ea .sm-chat-component .sm-chat-text {
    max-width: calc(55% - 10px) !important;
    width: auto
}

body.sm-mobile #salemove.gva-type-ea .gva-quick-reply-button {
    padding: 12px 24px !important
}

body.sm-mobile #salemove.gva-type-ea .sm-visitor-app-container .sm-chat-component .gva-custom-chat-text,
body.sm-mobile #salemove.gva-type-ea .sm-visitor-app-container .sm-chat-component .gva-quick-reply-button,
body.sm-mobile #salemove.gva-type-ea .sm-visitor-app-container .sm-chat-component .sm-chat-text,
body.sm-mobile #salemove.gva-type-ea .sm-visitor-app-container .sm-chat-component .sm-choice-card-question {
    font-size: 16px
}

body.sm-mobile .gva-gallery-outerdiv .carousel-scroll-right:after {
    background-color: var(--theme-color) !important;
    border: none !important;
    border-radius: 70% !important;
    box-shadow: 0 2px 4px #2f4f4f !important;
    color: #fff !important;
    
    cursor: pointer !important;
    float: right !important;
    font-size: 31px !important;
    height: 30px !important;
    line-height: 30px !important;
    padding: 8px !important;
    position: absolute !important;
    right: 1% !important;
    text-align: center !important;
    top: calc(50% - 24px);
    width: 32px !important;
    z-index: 10 !important
}

body.sm-mobile #salemove.gva-type-ea .sm-visitor-app-container .sm-choice-card-options>div div {
    font-size: 16px;
    margin-right: 8px !important;
    padding: 12px 24px
}

body.sm-mobile #salemove.gva-type-ea .gva-gallery-buttons-div {
    padding: 12px !important
}

body.sm-mobile #salemove.gva-type-ea .gva-custom-message-box .response-card-outerdiv {
    width: auto !important
}

body.sm-mobile .gva-gallery-outerdiv .carousel-scroll-left:after {
    background-color: var(--theme-color) !important;
    border: none !important;
    border-radius: 70% !important;
    box-shadow: 0 2px 4px #2f4f4f !important;
    color: #fff !important;
    
    cursor: pointer !important;
    float: left !important;
    font-size: 32px !important;
    height: 30px !important;
    left: 1% !important;
    line-height: 30px !important;
    padding: 8px !important;
    position: absolute !important;
    text-align: center !important;
    top: calc(50% - 24px);
    width: 32px !important;
    z-index: 10 !important
}

@media screen and (min-device-width:1024px) {
    body.sm-mobile .gva-custom-message-box .gva-quick-reply-button {
        margin-right: .5vw !important;
        min-width: fit-content !important
    }

    body.sm-mobile .gva-gallery-outerdiv .gva-gallery-card-image {
        max-height: 100% !important;
        max-width: 100% !important
    }

    body.sm-mobile .sm-choice-card-image-container>.gva-gallery-arrows-left,
    body.sm-mobile .sm-choice-card-image-container>.gva-gallery-arrows-right {
        opacity: 0;
        visibility: hidden !important
    }

    body.sm-mobile .gva-carousel-inner {
        align-items: stretch !important;
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto !important
    }

    body.sm-mobile .gva-carousel-inner>.gva-carousel-item {
        background-color: #fff !important;
        border-radius: 10px !important;
        box-shadow: var(--theme-color) 0 0 0 1px, rgba(6, 24, 44, .65) 0 4px 6px -1px, hsla(0, 0%, 100%, .08) 0 1px 0 inset !important;
        box-sizing: content-box !important;
        display: flex !important;
        flex: 0 0 300px;
        flex-direction: column;
        justify-content: flex-end !important;
        margin-inline-end: 1vw !important;
        margin-bottom: 1vh !important;
        max-width: 300px !important;
        min-width: auto !important;
        padding-inline: 1vw !important;
        padding-bottom: 1vh !important;
        padding-top: 1vh !important;
        visibility: visible !important
    }

    body.sm-mobile .sm-choice-card-button-options,
    body.sm-mobile .sm-choice-card-image-container,
    body.sm-mobile .sm-choice-card-title {
        flex-grow: 0 !important
    }

    body.sm-mobile .sm-choice-card-subtitle {
        flex-grow: 1 !important
    }

    body.sm-mobile .card-options-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start
    }

    body.sm-mobile .gva-modal-button-view,
    body.sm-mobile .gva-regular-button {
        margin-right: 1vw !important;
        min-width: fit-content !important
    }

    body.sm-mobile .gva-carousel>.sm-choice-card-container {
        background-color: transparent !important;
        border: 0 !important
    }

    body.sm-mobile .sm-visitor-app-container .sm-chat-component .gva-custom-chat-text,
    body.sm-mobile .sm-visitor-app-container .sm-chat-component .gva-quick-reply-button,
    body.sm-mobile .sm-visitor-app-container .sm-chat-component .sm-chat-text,
    body.sm-mobile .sm-visitor-app-container .sm-chat-component .sm-choice-card-question {
        font-size: 16px
    }
}